* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: "YoungSerif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

html {
    background-color: #f3e5d8;
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 1em;
}

h1, h2 {
    font-family: "YoungSerif";
}

p, ul, ol, td {
    font-family: "Outfit";
}

ul, ol {
    margin-left: 1em;
}

img {
    border-radius: 1em;
    margin-bottom: 1em;
}

.attribution {
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}